.card {
    border: 1px solid #ddd;
    margin: 20px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
    height: 130px;
    width: 300px;
}

.card-body {
    text-align: center;

}

.card-title {
    font-family: 'Arial', sans-serif;
    color: #00000090;
    font-size: large;
}

.card-text {
    font-family: 'Arial', sans-serif;
    color: #00000090;
    font-size: large;
}