{% extends 'home.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/case.css') }}">
{% endblock %}

{% block newcontent %}
<ol class="breadcrumb" style="padding-bottom: 0px">
    <li class="active">Case</li>
</ol>
<div class="top">
    <div style="float: left;">
        <input type="text" class="btn btn-default" placeholder="可根据URL、接口描述模糊查找" id="search_case_content"
            value="{{content}}">
        <button type="submit" class="btn btn-default" id="search_case">搜索</button>
    </div>
    <div style="float: right;">
        <button class="btn btn-default" onclick="document.getElementById('id01').style.display='block'"
            style="width:auto;">添加case</button>&nbsp&nbsp
        <button class="btn btn-default">导入</button>&nbsp&nbsp
        <button class="btn btn-default" id="export_cases">导出</button>
    </div>
</div>

<!-- 添加case弹窗 -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content animate" action="{{url_for('case.add_case')}}" method="post">
        <div class="container">
            <div class="flat">
                <label>
                    <b>case描述</b>
                    <span style="color: red;">*</span>
                </label>
                <input type="text" placeholder="请输入case描述" name="caseDescription" value="" required>
            </div>

            <div class="flat">
                <label><b>接口ID</b><span style="color: red;">*</span></label>
                <!-- <input type="text" placeholder="请输入接口ID" name="interfaceID" required> -->
                <input list="livesearch" type="text" id="search" placeholder="可根据接口ID、接口描述模糊查找"
                    onkeyup="showResult(this.value)" name="interfaceID" required>
                <datalist id="livesearch"></datalist>

            </div>
            <div class="input-group flat request">
                <label><b>请求参数化</b></label>
                <div>
                    <input type="text" class="form-control" placeholder="请求参数中可使用该变量，使用形式为$.变量名"
                        name="request_parameterization">
                    <div class="input-group-btn request_parameterization_button">
                        <button class="btn btn-default add_request_parameterization" type="button">+</button>
                        <!-- <button class="btn btn-default" type="button" class="del_request_parameterization">-</button> -->
                    </div>
                </div>
            </div>

            <div class="flat">
                <label><b>请求参数</b><span style="color: red;">*</span></label>
                <textarea type="textarea"
                    placeholder='例:{"payMonth":1,"payDay":5,"insuranceMonth":0,"calculateBasePayType":0,"insuranceFrom":1,"attendanceFrom":0,"dismissPayrollSub":0,"modulateSalaryPayType":0,"autoAdjustment":0,"autoAdjustmentMapi":0,"employeeDataFromLastDayArchive":{"isEntireFields":0,"checked":[]},"probationarySalaryRatio":null}'
                    name="request"></textarea>
            </div>
            <div class="flat">
                <label><b>预期结果</b><span style="color: red;">*</span></label>
                <textarea type="textarea" placeholder='例：{"code":0,"message":"保存成功","status":true,"data":{}}'
                    name="response"></textarea>
            </div>

            <div class="flat">
                <label><b>状态码</b></label>
                <input type="text" class="form-control" placeholder="例:200" name="code">
            </div>

            <div class="input-group flat response">
                <label>
                    <b>返回参数化</b>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                        id="response_parameterization_icon">
                        <span
                            class="icontext">从返回结果中以xpath方式提取变量，用于多接口测试时后续请求的调用,例：变量名employeeId，取值:$.data.employeeId[0]，使用方式$.employeeId</span>
                    </span>
                </label>
                <div class="flat">
                    <input type="text" class="form-control" name="response_parameterization_key"
                        placeholder="例:employeeId">
                    <span>--</span>
                    <input type="text" class="form-control" name="response_parameterization_value"
                        placeholder="例:$.data.employeeId[0]">
                    <div class="input-group-btn response_parameterization_button">
                        <button class="btn btn-default add_response_parameterization" type="button">+</button>
                        <!-- <button class="btn btn-default" type="button" class="del_response_parameterization">-</button> -->
                    </div>
                </div>
            </div>

            <div class="flat">
                <label><b>所属模块</b></label>
                <input type="text" placeholder="请输入所属模块" name="module">
            </div>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">取消</button>
                <button type="submit" class="signupbtn">确定</button>
                <button type="button" class="testbtn">测试</button>
            </div>
        </div>
    </form>
</div>

<!-- 修改case弹窗 -->
<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content animate" id="edit_case" action="#" method="post">
        <div class="container">
            <div class="flat">
                <label>
                    <b>case描述</b>
                    <span style="color: red;">*</span>
                </label>
                <input type="text" placeholder="请输入case描述" name="edit_caseDescription" value="" required>
            </div>

            <div class="flat">
                <label><b>接口ID</b><span style="color: red;">*</span></label>
                <!-- <input type="text" placeholder="请输入接口ID" name="interfaceID" required> -->
                <input list="livesearch" type="text" id="search" placeholder="可根据接口ID、接口描述模糊查找"
                    onkeyup="showResult(this.value)" name="edit_interfaceID" required>
                <datalist id="livesearch"></datalist>

            </div>
            <div class="input-group flat request">
                <label><b>请求参数化</b></label>
                <div>
                    <input type="text" class="form-control" placeholder="请求参数中可使用该变量，使用形式为$.变量名"
                        name="edit_request_parameterization">
                    <div class="input-group-btn request_parameterization_button">
                        <button class="btn btn-default add_request_parameterization" type="button">+</button>
                        <!-- <button class="btn btn-default" type="button" class="del_request_parameterization">-</button> -->
                    </div>
                </div>
            </div>

            <div class="flat">
                <label><b>请求参数</b><span style="color: red;">*</span></label>
                <textarea type="textarea"
                    placeholder='例:{"payMonth":1,"payDay":5,"insuranceMonth":0,"calculateBasePayType":0,"insuranceFrom":1,"attendanceFrom":0,"dismissPayrollSub":0,"modulateSalaryPayType":0,"autoAdjustment":0,"autoAdjustmentMapi":0,"employeeDataFromLastDayArchive":{"isEntireFields":0,"checked":[]},"probationarySalaryRatio":null}'
                    name="edit_request"></textarea>
            </div>
            <div class="flat">
                <label><b>预期结果</b><span style="color: red;">*</span></label>
                <textarea type="textarea" placeholder='例：{"code":0,"message":"保存成功","status":true,"data":{}}'
                    name="edit_response"></textarea>
            </div>

            <div class="flat">
                <label><b>状态码</b></label>
                <input type="text" class="form-control" placeholder="例:200" name="edit_code">
            </div>

            <div class="input-group flat response">
                <label>
                    <b>返回参数化</b>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                        id="response_parameterization_icon">
                        <span
                            class="icontext">从返回结果中以xpath方式提取变量，用于多接口测试时后续请求的调用,例：变量名employeeId，取值:$.data.employeeId[0]，使用方式$.employeeId</span>
                    </span>
                </label>
                <div class="flat">
                    <input type="text" class="form-control" name="edit_response_parameterization_key"
                        placeholder="例:employeeId">
                    <span>--</span>
                    <input type="text" class="form-control" name="edit_response_parameterization_value"
                        placeholder="例:$.data.employeeId[0]">
                    <div class="input-group-btn response_parameterization_button">
                        <button class="btn btn-default add_response_parameterization" type="button">+</button>
                        <!-- <button class="btn btn-default" type="button" class="del_response_parameterization">-</button> -->
                    </div>
                </div>
            </div>

            <div class="flat">
                <label><b>所属模块</b></label>
                <input type="text" placeholder="请输入所属模块" name="edit_module">
            </div>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">取消</button>
                <button type="submit" class="signupbtn">确定</button>
            </div>
        </div>
    </form>
</div>





<!--table数据 -->
<div class="table-responsive">
    <table class="table table-striped table-hover">
        {% if cases %}
        <tr>
            <th>序号</th>
            <th>caseID</th>
            <th>case描述</th>
            <th>接口ID</th>
            <th>接口url</th>
            <th>请求参数</th>
            <th>预期结果</th>
            <th>请求参数化</th>
            <th>返回参数化</th>
            <th>code</th>
            <th>创建者</th>
            <th>创建时间</th>
            <th>修改者</th>
            <th>修改时间</th>
            <th>所属模块</th>
            <th>对应用例集</th>
            <th>操作</th>
        </tr>
        {% for case in cases %}
        <tr>
            <td>{{ loop.index }}</td>
            <td class="id">{{ case.id }}</td>
            <td class="ellipsis caseDescription" data-toggle="tooltip" title="{{ case.caseDescription }}">{{ case.caseDescription }}</td>
            <td class="interfaceID">{{case.interfaceID}}</td>
            <td class="ellipsis interfaceURL" data-toggle="tooltip" title="{{ case.interface.interfaceURL }}">{{ case.interface.interfaceURL }}</td>
            <td class="ellipsis request" data-toggle="tooltip" title="{{ case.request }}">{{ case.request }}</td>
            <td class="ellipsis response" data-toggle="tooltip" title="{{ case.response }}">{{ case.response }}</td>
            <td class="ellipsis request_parameterizations" data-toggle="tooltip"
                title="{{ case.request_parameterizations }}">
                {{case.request_parameterization_dict}}</td>
            <td class="ellipsis response_parameterization_dict" data-toggle="tooltip"
                title="{{ case.response_parameterization_dict }}">
                {{case.response_parameterization_dict}}</td>
            <td class="code">{{case.code}}</td>
            <td>{{ case.creator }}</td>
            <td>{{ case.add_time }}</td>
            <td>{{ case.mender }}</td>
            <td>{{ case.edit_time }}</td>
            <td class="module">{{ case.module }}</td>
            <td>{{ case.flowID }}</td>
            <td>
                <a class="edit_case">修改</a>
                <a class="del_case">删除</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <p style="text-align: center;margin-top: 250px">暂无数据～</p>
        {% endif %}
    </table>
    {% if cases.total>0 %}
    <nav aria-label="Page navigation" class="col-md-offset-5">
        <ul class="pagination">
            <li {% if not cases.has_prev %} class="disabled" {% endif %}>
                <a {% if cases.has_prev %}
                    href="{{ url_for('case.show') }}?page={{ cases.prev_num }}&content={{content}}" {% else %} href='#'
                    {% endif %} aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page_num in range(1,cases.pages + 1) %}
            <li {% if cases.page==page_num %} class="active" {% endif %}><a
                    href="{{ url_for('case.show' ) }}?page={{ page_num }}&content={{content}}">{{ page_num }}</a></li>
            {% endfor %}
            <li {% if not cases.has_next %} class="disabled" {% endif %}>
                <a {% if cases.has_next %}
                    href="{{ url_for('case.show') }}?page={{ cases.next_num }}&content={{content}}" {% else %} href="#"
                    {% endif %} aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
{%block scripts %}
{{super()}}
<script>
    $('.testbtn').click(function () {
            $.ajax({
                url: '{{url_for("case.test_case")}}',
                type: 'POST',
                data: new FormData($('#id01')[0]),
                success: function (data) {
                    console.log(data);
                    if (data.status == 1) {
                        alert('测试成功！');
                    } else {
                        alert('测试失败！' + data.message);
                    }
                }
            });
    });
    $('#export_cases').click(function () {
            location.href = '{{url_for("case.export_cases")}}'
        })

    // 搜索case
    $('#search_case').click(function () {
        let content = $('#search_case_content').val()
        if (content == '') {
            window.alert("搜索内容不能为空");
        }
        else {
            location.href = '{{url_for("case.show")}}?content=' + content
        }
    })

    // 添加case弹窗：根据接口ID输入框中输入内容提供对应的输入建议
    function showResult(str) {
        if (str.length != 0) {
            $.ajax({
                url: '{{url_for("interface.search_interface")}}?' + str,
                type: 'GET',
                success: function (data) {
                    let html = '';
                    for (var key in data.data) {
                        if (data.data.hasOwnProperty(key)) {
                            var value = data.data[key];
                            console.log('Key is ' + key + ', value is ' + value);
                            html += '<option value="' + key + '">'+ value + '</option>';
                        }
                    }
                    document.getElementById("livesearch").innerHTML = html;
                    document.getElementById("livesearch").style.border = "1px solid #A5ACB2";
                }
            });
        }
    }

    // 添加case弹窗：校验接口id输入框的内容是否存在
   {# $('#search').change(function () {
        var inputVal = $(this).val();
        var datalist = $('#livesearch');
        var options = $('option', datalist);

        var optionExists = false;
        options.each(function () {
            if (this.value == inputVal) {
                optionExists = true;
                return false; // Break the loop
            }
        });

        if (!optionExists) {
            $(this).val(''); // Clear the input
            alert('您所输入的接口ID不存在请重新输入'); // Show an error message
        }
    });#}

    // 添加case弹窗：添加请求参数化的操作
    /*$(document).on('click', '.add_request_parameterization', function () {
        var newInput = $('<div style="margin-top: 10px;margin-left: 130px" class="flat"><input type="text" class="form-control" placeholder="请求参数中可使用该变量，使用形式为$.变量名" name="request_parameterization"> <div class="input-group-btn"> <button class="btn btn-default add_request_parameterization" type="button" >+</button> <button class="btn btn-default del_request_parameterization" type="button" >-</button></div></div>');
        //$('.input-group.flat.request').after(newInput);
        if ($(this).closest('.input-group').hasClass('request')) {
            $('.input-group.flat.request').after(newInput);
        } else {
            $(this).closest('.flat').after(newInput);
        }
    });*/

    // 定义一个函数，用于添加case-添加请求参数化的输入元素
    function addRequestParameterization(target) {
        var newInput = $('<div style="margin-top: 10px;margin-left: 130px" class="flat added-part"><input type="text" class="form-control" placeholder="请求参数中可使用该变量，使用形式为$.变量名" name="request_parameterization"> <div class="input-group-btn"> <button class="btn btn-default add_request_parameterization" type="button" >+</button> <button class="btn btn-default del_request_parameterization" type="button" >-</button></div></div>');
        if (target.closest('.input-group').hasClass('request')) {
            $('.input-group.flat.request').after(newInput);
        } else {
            target.closest('.flat').after(newInput);
        }
    }

    // 添加case-添加请求参数化的输入元素
    $(document).on('click', '#id01 .add_request_parameterization', function () {
        addRequestParameterization($(this));
    });

    // 添加case弹窗：删除请求参数化的操作
    $(document).on('click', '.del_request_parameterization', function () {
        $(this).parent().parent().remove();
    });

    // 定义一个函数，用于修改case-添加请求参数化的输入元素
    function addRequestParameterization1(target) {
        var newInput = $('<div style="margin-top: 10px;margin-left: 130px" class="flat added-part"><input type="text" class="form-control" placeholder="请求参数中可使用该变量，使用形式为$.变量名" name="edit_request_parameterization"> <div class="input-group-btn"> <button class="btn btn-default add_request_parameterization" type="button" >+</button> <button class="btn btn-default del_request_parameterization" type="button" >-</button></div></div>');
        if (target.closest('.input-group').hasClass('request')) {
            $('.input-group.flat.request').after(newInput);
        } else {
            target.closest('.flat').after(newInput);
        }
    }

    // 修改case-添加请求参数化的输入元素
    $(document).on('click', '#id02 .add_request_parameterization', function () {
        addRequestParameterization1($(this));
    });

    // 添加case弹窗：添加返回参数化的操作
    /*$(document).on('click', '.add_response_parameterization', function () {
        var newInput = $('<div  style="margin-top: 10px;margin-left: 130px"  class="flat"><input type="text" class="form-control" name="edit_response_parameterization_key" placeholder="例:employeeId"><span>--</span><input type="text" class="form-control" name="edit_response_parameterization_value" placeholder="例:$.data.employeeId[0]"><div class="input-group-btn response_parameterization_button"><button class="btn btn-default add_response_parameterization" type="button">+</button><button class="btn btn-default del_response_parameterization" type="button">-</button></div></div>');
        if ($(this).closest('.input-group').hasClass('response')) {
            $('.input-group.flat.response').after(newInput);
        } else {
            $(this).closest('.flat').after(newInput);
        }
    });*/
    // 修改case-添加返回参数化
    function addResponseParameterization(target) {
        var newInput = $('<div  style="margin-top: 10px;margin-left: 130px"  class="flat added-part"><input type="text" class="form-control" name="response_parameterization_key" placeholder="例:employeeId"><span>--</span><input type="text" class="form-control" name="response_parameterization_value" placeholder="例:$.data.employeeId[0]"><div class="input-group-btn response_parameterization_button"><button class="btn btn-default add_response_parameterization" type="button">+</button><button class="btn btn-default del_response_parameterization" type="button">-</button></div></div>');
        if (target.closest('.input-group').hasClass('response')) {
            $('.input-group.flat.response').after(newInput);
        } else {
            target.closest('.flat').after(newInput);
        }
    }

    // 在点击事件的回调函数中调用上面定义的函数
    $(document).on('click', '#id01 .add_response_parameterization', function () {
        addResponseParameterization($(this));
    });

    // 修改case-添加返回参数化
    function addResponseParameterization1(target) {
        var newInput = $('<div  style="margin-top: 10px;margin-left: 130px"  class="flat added-part"><input type="text" class="form-control" name="edit_response_parameterization_key" placeholder="例:employeeId"><span>--</span><input type="text" class="form-control" name="edit_response_parameterization_value" placeholder="例:$.data.employeeId[0]"><div class="input-group-btn response_parameterization_button"><button class="btn btn-default add_response_parameterization" type="button">+</button><button class="btn btn-default del_response_parameterization" type="button">-</button></div></div>');
        if (target.closest('.input-group').hasClass('response')) {
            $('.input-group.flat.response').after(newInput);
        } else {
            target.closest('.flat').after(newInput);
        }
    }

    // 在点击事件的回调函数中调用上面定义的函数
    $(document).on('click', '#id02 .add_response_parameterization', function () {
        addResponseParameterization1($(this));
    });

    // 添加case弹窗：删除返回参数化的操作
    $(document).on('click', '.del_response_parameterization', function () {
        $(this).parent().parent().remove();
    });


    // 点击取消和X按钮时清空内容
    function clearModalContent() {
        $('#id01').find('input[type=text], textarea').val('');
        $('#id01').find('.error-message').remove();
        $('#id02').find('input[type=text], textarea').val('');
        $('#id02').find('.error-message').remove();
        // 移除通过函数添加的部分
        $('.added-part').remove();
        document.getElementById('id01').style.display = 'none';
        document.getElementById('id02').style.display = 'none';
    }
    $('.cancelbtn, .close').click(clearModalContent);




    // 添加case弹窗点击确认按钮
    function handleSubmit(e) {
        e.preventDefault(); // 阻止表单的默认提交行为
        var modalId = $(this).closest('.modal').attr('id');
        $.ajax({
            url: $(this).attr('action'),// 获取表单的 action 属性作为请求的 URL
            type: 'POST',
            data: $(this).serialize(), // 序列化表单的数据
            success: function (data) {
                if (data.message == "success") {
                    console.log(data.message)
                    {#sessionStorage.setItem('alertMessage', data.message);#}
                    {#sessionStorage.setItem('alertType', 'success');#}
                    // 如果返回的 message 为 "添加成功"，则关闭弹窗
                    showAlert(data.message, type='success')
                    document.getElementById(modalId).style.display = 'none';
                    location.reload();
                } else {
                    // 否则，显示 message 的内容
                    showAlert(data.message, type='danger')
                    {#sessionStorage.setItem('alertMessage', data.message);#}
                    {#sessionStorage.setItem('alertType', 'danger');#}
                }
            }
        });
    }
    $('#id01 form.modal-content, #id02 form.modal-content').on('submit', handleSubmit);


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            template: '<div class="tooltip custom-tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
        });
    });

    // 修改case
    $(document).on('click', '.edit_case', function () {
        document.getElementById('id02').style.display = 'block'
        let caseDescription = $(this).parent().prevAll(".caseDescription").text()
        let interfaceID = $(this).parent().prevAll(".interfaceID").text()
        let request_parameterization_dict = $(this).parent().prevAll(".request_parameterizations").text()
        let request = $(this).parent().prevAll(".ellipsis.request").text()
        let response = $(this).parent().prevAll(".ellipsis.response").text()
        let code = $(this).parent().prevAll(".code").text()
        let response_parameterization_dict = $(this).parent().prevAll(".response_parameterization_dict").text()
        let module = $(this).parent().prevAll(".module").text()
        let id = $(this).parent().prevAll(".id").text()
        // 将内容显示在编辑弹窗中
        $("input[name = edit_caseDescription]").val(caseDescription)
        $("input[name=edit_interfaceID]").val(interfaceID)
        //$("input[name=interfaceID]").attr('value', request_parameterizations) //
        $("textarea[name=edit_request]").val(request)
        $("textarea[name=edit_response]").val(response)
        if (code != 'None') {
            $("input[name=edit_code]").val(code)
        }
        $("input[name='edit_module']").val(module)
        // 将请求参数化内容显示在编辑弹窗中
        console.log(request_parameterization_dict)
        if (request_parameterization_dict.trim() != 'None') {
            //var request_parameterizations_list = request_parameterizations.split(',');
            request_parameterization_dict = JSON.parse(request_parameterization_dict);
            request_parameterization_keys = Object.keys(request_parameterization_dict)
            for (var i = 0; i < request_parameterization_keys.length; i++) {
                // 检查是否存在第i个.request_parameterizations元素
                var element = $("input[name=edit_request_parameterization]").eq(i);
                if (element.length > 0) {
                    // 如果存在，将值填充到该元素中
                    element.val(request_parameterization_keys[i].trim());
                    console.log('填充')
                } else {
                    // 如果不存在，创建新的.request_parameterizations元素，并将值填充到新元素中
                    //addRequestParameterization(".container")
                    var newInput = $('<div style="margin-top: 10px;margin-left: 130px" class="flat request added-part"><input type="text" class="form-control" placeholder="请求参数中可使用该变量，使用形式为$.变量名" name="edit_request_parameterization"> <div class="input-group-btn"> <button class="btn btn-default add_request_parameterization" type="button" >+</button> <button class="btn btn-default del_request_parameterization" type="button" >-</button></div></div>');
                    if ($('.flat.request').length > 0) {
                        $('.flat.request').last().after(newInput);
                    } else {
                        $('.input-group.flat.request').after(newInput);
                    }
                    element = $("input[name=edit_request_parameterization]").eq(i);
                    element.val(request_parameterization_keys[i]);
                }
            }
        }
        // 将返回参数化的结果显示在编辑弹窗中
        if (response_parameterization_dict.trim() != 'None') {
            response_parameterization_dict = JSON.parse(response_parameterization_dict);
            response_parameterization_keys = Object.keys(response_parameterization_dict)
            response_parameterization_values = Object.values(response_parameterization_dict)
            console.log(response_parameterization_dict)
            for (var i = 0; i < response_parameterization_keys.length; i++) {
                // 检查是否存在第i个.request_parameterizations元素
                var element = $("input[name=edit_response_parameterization_key]").eq(i);
                if (element.length > 0) {
                    // 如果存在，将值填充到该元素中
                    element.val(response_parameterization_keys[i].trim());
                    console.log('填充')
                } else {
                    // 如果不存在，创建新的.request_parameterizations元素，并将值填充到新元素中
                    //addRequestParameterization(".container")
                    var newInput = $('<div  style="margin-top: 10px;margin-left: 130px"  class="flat response added-part"><input type="text" class="form-control" name="edit_response_parameterization_key" placeholder="例:employeeId"><span>--</span><input type="text" class="form-control" name="edit_response_parameterization_value" placeholder="例:$.data.employeeId[0]"><div class="input-group-btn response_parameterization_button"><button class="btn btn-default add_response_parameterization" type="button">+</button><button class="btn btn-default del_response_parameterization" type="button">-</button></div></div>');
                    if ($('.flat.response').length > 0) {
                        $('.flat.response').last().after(newInput);
                    } else {
                        $('.input-group.flat.response').after(newInput);
                    }
                    element = $("input[name=edit_response_parameterization_key]").eq(i);
                    element.val(response_parameterization_keys[i]);
                }
            }
            for (var i = 0; i < response_parameterization_values.length; i++) {
                // 检查是否存在第i个.request_parameterizations元素
                var element = $("input[name=edit_response_parameterization_value]").eq(i);
                if (element.length > 0) {
                    // 如果存在，将值填充到该元素中
                    element.val(response_parameterization_values[i].trim());
                    console.log('填充')
                }
            }
        }
        $("#edit_case").attr('action', "{{url_for('case.edit_case')}}?id=" + id)
    })

    // 删除case
    $('.del_case').click(function () {
        var a = confirm('删除case对应的用例集也会同步删除，请确认是否删除');
        let id = $(this).parent().prevAll(".id").text();
        if (a == true) {
            var url = "{{url_for('case.del_case')}}?id=" + id;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.message == "success") {
                        {#sessionStorage.setItem('alertMessage', data.message);#}
                        {#sessionStorage.setItem('alertType', 'success');#}
                        showAlert(data.message, type='success')
                    } else {
                        {#sessionStorage.setItem('alertMessage', data.message);#}
                        {#sessionStorage.setItem('alertType', 'danger');#}
                        showAlert(data.message, type='danger')
                    }
                });
        }
        location.reload()
    });
</script>
{%endblock%}